<ol class="breadcrumb">
    {% for url, label in app.cms.context.breadcrumbs %}
        {% if loop.last %}
            <li class="active">{{ label }}</li>
        {% else %}
            <li><a href="{{ url }}">{{ label }}</a></li>
        {% endif %}
    {% endfor %}
</ol>
