{% extends "cms/frontend/index" %}

{% block layout %}
    <div class="grid">
        {% for widget in regions['column1'] %}
            {{ widget|raw }}
        {% endfor %}
    </div>
    <div class="grid">
        {% for widget in regions['column2'] %}
            {{ widget|raw }}
        {% endfor %}
    </div>
{% endblock %}
