#node-tree {
  margin-top: 20px;
  padding: 0;
  list-style: none;
  transition: opacity 250ms;
}
#node-tree li {
  padding: 4px 0;
}
#node-tree ul {
  list-style: none;
  padding: 0;
  margin-left: 10px;
}

#node-tree.disabled {
  opacity: .5;
}
#node-tree.disabled .handle {
  cursor: default;
}


#node-tree .toggle,
#node-tree .handle,
#node-tree .dropdown {
  display: inline-block;
}



/* Toggle */
.node .toggle {
  width: 16px;
  height: 16px;
  position: relative;
  top: 1px;
  margin-right: 3px;
}
.node .dropdown-toggle {
  background: url(../../img/cms/arrow.down.blue.png) no-repeat center center;
  padding: 0 0 0px 9px;
  display: inline-block;
  border: 1px solid #FFF;
  margin-left: 1px;
}
.node .dropdown-toggle:hover {
  border: 1px solid rgba(0, 55, 80, 0.3);
  text-decoration: none;
}
.node a.toggle {
  background: url(../../img/cms/toggle.minus.png) no-repeat;
}
.node .closed a.toggle {
  background: url(../../img/cms/toggle.plus.png) no-repeat;
}

/* Handle */
.node .handle {
  background-repeat: no-repeat;
  cursor: move;
  margin: 0 3px 0 0;
}
.node .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
}
.site .icon {
  background: url(../../img/cms/site.png) no-repeat;
}
.page .icon {
  background: url(../../img/cms/page.png) no-repeat;
}
.page-hidden .icon {
  background: url(../../img/cms/page.hidden.png) no-repeat;
}
.redirect-default .icon,
.page-default .icon {
  background: url(../../img/cms/page.default.png) no-repeat;
}
.folder .icon {
  background: url(../../img/cms/folder.png) no-repeat;
}
.redirect .icon {
  background: url(../../img/cms/redirect.png) no-repeat;
}
.entry .icon {
  background: url(../../img/cms/entry.png) no-repeat;
}
.entry-hidden .icon {
  background: url(../../img/cms/entry.hidden.png) no-repeat;
}

.unlocalized a.name {
  color: #75778f;
}
.unlocalized .localized a.name {
  color: #373C8F;
}
li.selected .name {
  font-weight: bold;
}
li.selected li .name {
  font-weight: normal;
}


.placeholder {
  display: block;
  border: 1px dotted #666;
  background-color: #efefef;
  height: 20px;
}
#node-tree .empty {
  display: none;
}
#node-tree .closed ul.children {
  display: none;
}

#node-tree li.node div.menu {
    display: inline;
}


/* Dropdown menu */
#node-tree .dropdown-menu li {
  padding: 0;
}
